@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Jacquarda+Bastarda+9&display=swap");

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

:root {
  --font-main: "Inter", sans-serif;
  --font-secondary: "Jacquarda Bastarda 9", serif;

  --primary: #ffffff;
  --secondary: #e6e4e4;
  --contrast: #000000;
  --secondary-contrast: #4a4a4a;
  --accent: #b5b7bc;
  --badge: #13dba94b;
  --badge-contrast: #0fab84;
  --html: #ff602f;
  --css: #264de4;
  --js: #f0db4f;
  --node: #3c873a;
  --react: #61dafb;
  --figma: #a802f5;

  --main-shadow: var(--accent) 0px 2px 8px 0px;
}

.body {
  max-width: 500px;
  margin: 0 auto;
  background-color: var(--secondary);
  font-family: var(--font-main);
}

.header {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 0 15px;
  color: var(--contrast);
  background-color: var(--primary);
  margin: 5px 5px 15px;
  border-radius: 10px;
  box-shadow: var(--main-shadow);
}

@media (max-width: 360px) {
  .header {
    padding: 0 8px;
  }
}

.header__heading {
  font-size: 25px;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation__list {
  display: flex;
  gap: 20px;
  list-style: none;
  padding: 0;
}

.navigation__item {
  border-radius: 25%;
  padding: 4px;
  transition: 0.2s;
}

.navigation__icon {
  font-size: 20px;
  transition: 0.5s;
}

.navigation__link {
  text-decoration: none;
  color: var(--secondary);
}

.navigation__item:hover {
  background-color: var(--secondary);
}

.navigation__item:hover .navigation__icon {
  color: var(--contrast);
}

.main {
  padding: 20px 15px;
  background-color: var(--primary);
  border-radius: 10px;
  box-shadow: var(--main-shadow);
  margin: 5px;
}

.profile {
  max-width: 164px;
  border-radius: 50%;
  padding: 5px;
  border: dotted 5px var(--secondary);
}
